{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block header %}
{{block.super}}
    <nav class="navbar">
        <div class="navbar-inner">
                <a href="#" class="brand">maigfrga's django template</a>
        </div>
    </nav>
{% endblock %}
{% block main %}
    {{block.super}}
    <div class="row">
        <div id="login-container" class="span5 offset4">
            <form class="span4 well" method="post" action="{% url 'login' %}" >
            {% csrf_token %}
            <ul>
                <li>
                    <label for="id_username">{% trans "username" %}</label>
                    {{form.username}}
                </li>
                <li>
                    <label for="id_password">{% trans "password"%}</label>
                    {{form.password}}
                </li>

            </ul>
            <input type="submit" id="loginBtn" class="btn btn-success btn-large span2" value="{% trans "login" %}"></input>
            </form>
        </div>
    </div>
{% endblock %}
{% block page_script %}
    {{block.super}}
    <script>
    $(function() {
        var user = new User;
        var login_view = new LoginView({ el: $("#login-container") });
    });
    </script>
{% endblock %}
