{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% block header %}
{{block.super}}
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="#" class="brand">maigfrga's django template</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock %}
{% block main %}
    {{block.super}}
    <form class="well" method="post" action="{% url 'django.contrib.auth.views.login' %}" >
    {% csrf_token %}
    <ul>
        <li>
            <label for="id_username">{% trans "username" %}</label>
            {{form.username}}
        </li>
        <li>
            <label for="id_password">{% trans "password"%}</label>
            {{form.password}}
        </li>

    </ul>
    <button type="submit" class="btn btn-primary">{% trans "login" %}</button>
    </form>
{% endblock %}
