{% extends "main.html" %}
{% load i18n %}
{% load url from future %}
{% load myapptags %}
{% block main %}
    <div id="post-list" class="">
       <a class="btn btn-success span2 offset9" href="#add">
        <i class="icon-white icon-plus-sign"></i>
        {% trans "create post" %}
       </a>
        {% numerated_pagination %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% trans "title" %}</th>
                    <th>{% trans "slug" %}</th>
                    <th>{% trans "content" %}</th>
                    <th>{% trans "status" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for post in object_list %}
                <tr>
                    <td>
                        {{post.title}}
                    </td>
                    <td>
                        {{post.slug}}
                    </td>
                    <td>
                        {{post.content}}
                    </td>
                    <td>
                        {{post.status}}
                    </td>
                    <td>
                        <a class="btn btn-success" href="#{{post.id}}">
                            <i class="icon-white icon-edit"></i>
                            {% trans "edit" %}
                        </a>

                    </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        {% numerated_pagination %}
    </div>
{% endblock %}

{% block page_script %}
    <script>
    {% include "js/routers.js" %}
    $(function() {
       var postCollection = new PostCollection({% autoescape off %}{{json_object_list}}{% endautoescape %});
       var postListView = new PostListView({models: postCollection});
       var post_router = new PostRouter({postListView: postListView});
        Backbone.history.start();
    });
    </script>
{% endblock %}
